#urllib3==1.22  # 1.24.x breaks ordered_dict !!  but 1.22 has a high severity vulnerability :(
##
##
##
# info via bofhbot/.travis.yml ::
#- pip install --user -r requirements.txt # Can not perform a '--user' install. User site-packages are not visible in this virtualenv. # (python 3.6)
#  - pip install -r requirements.txt
